html {
    background-color: #14181C;
}
h1 {
    font-family: 'ProximaNova-Regular';
    font-size: 3.125em;
    text-align: center;
    color: #fff;
}
h2 {
    font-family: 'ProximaNova-Regular';
    font-size: 1.25em;
    text-align: center;
    color: #fff;
}
#img-div {
    text-align: center;
    max-width: 100%;
    display: block;
    height: auto;
    text-align: center;
    position: relative;
}
div {
    font-family: 'Montserrat';
    color: #cccccc;
}
p {
    font-family: 'ProximaNova-Regular';
    font-size: 1.563em;
    text-align: center;
    color: #cccccc;
}
li {
    font-size: large;
    font-family: 'Montserrat';
    margin-left: 59.2vh;
    margin-right: 59.2vh;
    color: #cccccc;
}
* {
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.filme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filme img{
    width: 14.64vw;
    height: 21.96vw;
    border-radius: 3%;
}
.size { 
	transition: all 1s ease-in-out; 
}

.size:hover { 
    transform: scale(1.3);
}